<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/77606905-1490-4d47-89b9-3d02854c0d28/resourceGroups/Fatumbot/providers/Microsoft.Web/sites/fatumbot</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://fatumbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fatumbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fatumbot</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fatumbot</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>